In [63]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import xgboost as xgb
from itertools import combinations_with_replacement

In [18]:
file = pd.read_excel("grading.xlsx")

In [19]:
df = file[["SUBJ","CLASS",'GRADE','PROF','GP','SEM']]

In [20]:
df = df.dropna()

In [21]:
df.head()

       SUBJ                   CLASS GRADE  PROF  GP    SEM
36     ECON              MICRO ECON     F   0.0   0  SEM1
37     MATH                   ODE 1     B   3.0   3  SEM1
38     MATH                380 PROB     C   1.0   2  SEM1
39  SCIENCE  151 MECHANICS AND HEAD     B   3.0   3  SEM1
40       GE                 WALKING     D   0.0   1   SEM2

In [48]:
pd.get_dummies(df[['SUBJ',"GRADE"]]).sum()

SUBJ_ECON        3
SUBJ_GE          5
SUBJ_MATH       22
SUBJ_SCIENCE     7
GRADE_A         10
GRADE_B         12
GRADE_C         11
GRADE_D          1
GRADE_F          1
GRADE_W          2
dtype: int64

In [44]:
semester = df["SEM"].unique()

In [129]:
gpa_by_sem = df.groupby("SEM")["GP"].mean()
print(np.mean(gpa_by_sem))
print(np.std(gpa_by_sem))
print(2.68+2.54*(np.var(gpa_by_sem)/10))
print(gpa_by_sem)

2.68
0.6079473661428265
2.7738784
SEM
SEM1     2.0
SEM10    1.5
SEM2     2.8
SEM3     2.5
SEM4     2.2
SEM5     3.0
SEM6     2.8
SEM7     3.0
SEM8     3.5
SEM9     3.5
Name: GP, dtype: float64

In [77]:
x = ["A","B","C","D","F","W"]

arr = []
dict = pd.DataFrame({})
for c in list(combinations_with_replacement(x,3)):
    col = concatArray(c)
    arr.append(col)
    dict[col] = ""

In [111]:
def concatArray(x):
    s = ""
    for y in x:
        s += y
    return s


GRADE_A         10
GRADE_B         12
GRADE_C         11
GRADE_D          1
GRADE_F          1
GRADE_W          2

In [134]:
n_courses = 4

x = ["A","B","C","D","F","W"]
y = np.array([10,12,11,1,1,2])
probs = np.round(y/sum(y),2)

projected_grades = np.random.choice(x, n_courses, p = probs )
weighted_grades = {"A":4,"B":3,"C":2,"D":1,"F":0,"W":2.69}
grades = [weighted_grades.get(item,item) for item in projected_grades]

print(grades)
print(concatArray(projected_grades))
print(round(np.mean(grades),2))

[3, 3, 4, 2]
BBAC
3.0

In [133]:
sum(np.array([4,3,2,1,0,0])*probs)

2.67

In [74]:
df.groupby("SEM")["GRADE"].agg(concatArray)

SEM
SEM1      FBCB
SEM10       WB
SEM2     DAACB
SEM3      CBBC
SEM4     WCABC
SEM5        CA
SEM6     CBACB
SEM7      BABC
SEM8        AB
SEM9      AACA
Name: GRADE, dtype: object